@using TheBlogProject.Services

@inject IImageService imageService
@model IEnumerable<TheBlogProject.Models.Blog>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Blog Index</h1>

@if(User.IsInRole("Administrator")){
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table id="BlogTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th class="ps-5">
                @Html.DisplayNameFor(model => model.ImageData)
            </th>
            @*Empty th added in order for Datatables plug-in to function*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var blog in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => blog.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => blog.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => blog.Created)
            </td>
            <td>
                <img class="img-fluid" width="200px;" src="@imageService.DecodeImage(blog.ImageData, blog.ContentType)"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@blog.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@blog.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@blog.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#BlogTable').DataTable();
        });
    </script>
}