@using AspNetCore.ReCaptcha

@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row d-flex justify-content-center">
    <div class="col-lg-8 col-md-10">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h2 class="text-center">Create A New Account</h2>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="control-group">
                <div class="form-floating form-group">
                    <input asp-for="Input.FirstName" id="firstName" class="form-control" type="text" autocomplete="username" aria-required="true" placeholder="First Name" />
                    <label asp-for="Input.FirstName" for="firstName"></label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="control-group">
                <div class="form-floating form-group">
                    <input asp-for="Input.LastName" id="lastName" class="form-control" type="text" autocomplete="username" aria-required="true" placeholder="Last Name" />
                    <label asp-for="Input.LastName" for="lastName"></label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="control-group">
                <div class="form-floating form-group">
                    <input asp-for="Input.DisplayName" id="displayName" class="form-control" type="text" autocomplete="username" aria-required="true" placeholder="Display Name"/>
                    <label asp-for="Input.DisplayName" for="displayName"></label>
                    <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
                </div>
            </div>

            <div class="control-group">
                <div class="form-floating form-group">
                    <input asp-for="Input.Email" id="email" class="form-control" type="email" autocomplete="username" aria-required="true" placeholder="Email" />
                    <label asp-for="Input.Email" for="email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>

            <div class="control-group">
                <div class="form-floating form-group">
                    <input asp-for="Input.ImageFile" id="img" class="form-control" type="file" placeholder="Select Image" accept=".png,.jpeg,.bmp,.tif" />
                    <label asp-for="Input.ImageFile" for="img"></label>
                    <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
                </div>
            </div>

@*            <div class="form-floating form-group">
                <label>Select Image</label>
                <div class="custom-file">
                    <input asp-for="Input.ImageFile" id="img" type="file" class="form-control-file custom-file-input" />
                    <label asp-for="Input.ImageFile" for="img" class="control-label custom-file-label">Choose</label>
                </div>
            </div>*@

            <div class="control-group">
                <div class="form-floating form-group">
                    <input asp-for="Input.Password" id="pw" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password"/>
                    <label asp-for="Input.Password" for="pw"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>

            <div class="control-group">
                <div class="form-floating form-group">
                    <input asp-for="Input.ConfirmPassword" id="confirmPw" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                    <label asp-for="Input.ConfirmPassword" for="confirmPw"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <button id="registerSubmit" type="submit" class="col-12 btn btn-lg btn-primary mb-2">Register</button>
            <div class="form-group">
                <recaptcha />
            </div>
        </form>
    </div>

@*    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="col-12 btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
