@using TheBlogProject.Services;
@using Microsoft.AspNetCore.Identity

@model TheBlogProject.Models.Post

@inject IImageService imageService
@*@inject UserManager<IdentityUser> userManager*@
@inject UserManager<BlogUser> userManager

@{
    ViewData["Title"] = "Details";
}
 

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>

<hr />

    <article>
        <div class="row">
            <div class="col text-center font-weight-bold h3">
                Custom Post Tags
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
            @foreach(var tag in Model.Tags)
            {
                <a class="btn btn-tag btn-warning btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
            }
        </div>
        </div>
    </article>

<hr />

<div>
    @if(User.Identity.IsAuthenticated)
    {
        <form asp-action="Create" asp-controller="Comments" method="post" enctype="multipart/form-data">
            @Html.Hidden("PostId", Model.Id)

            <div class="form-group">
                <label class="h2 control-label font-weight-bold">Add Comment</label>
                <textarea class="form-control" name="body"></textarea>
            </div>

            <button type="submit" class="col-12 btn btn-dark">Submit</button>

        </form>
    }
    else
    {
        <a class="col-12 btn btn-dark" asp-area="Identity" asp-page="/Account/Login">Login to Add Comments</a>
    }
</div>

<hr />

<button id="commentSection" class="btn btn-dark col-12">@Model.Comments.Count COMMENT(S)</button>

@foreach (var comment in Model.Comments)
{
    <div class="media border-danger p-3 m-2 bg-light">
        <img class="mr-3 mt-3 rounded-circle" style="width:60px;" src="@imageService.DecodeImage(comment.BlogUser.ProfileImageData, comment.BlogUser.ContentType)" />
        <div class="media-body">
            <h4>@comment.BlogUser.FullName</h4>
            <small><i> Posted on @comment.Created.ToString("MMM dd, yyyy")</i></small>
            <p>@comment.Body</p>

            @if(comment.Moderated is null && comment.Deleted is null && comment.BlogUserId == userManager.GetUserId(User))
            {
                <hr />
                <button data-bs-toggle="modal" data-bs-target="#editModal" class="btn-dark btn-sm float-right font-weight-bold">EDIT</button>
            }
        </div>
    </div>

    @*Modals*@
    <div id="editModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header-->
                <div class="modal-header">
                    <h4 class="modal-title">Editing Comment...</h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <form asp-action="Edit" asp-controller="Comments">
                        @Html.Hidden("Id", comment.Id)
                        <div class="form-group">
                            <textarea name="Body" class="form-control" required>@comment.Body</textarea>
                        </div>

                        <button class="btn-dark btn-sm border-success font-weight-bold" type="submit">SUBMIT</button>
                    </form>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn-dark btn-sm font-weight-bold" data-bs-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
}